/* Header */
@charset "UTF-8";

/* Variablen */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

/* Basis-Stile */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Klassen und IDs */
.header {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5rem;
}

#main-content {
  padding: 2rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .header {
    font-size: 1.2rem;
  }
}






.password-container {
  position: relative;
  width: 300px;
  margin: 20px auto;
}

#password-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.deleteBtn {
  margin-left: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;
}
