h1::before { content: '👱‍♂️';}
h1::after { content: '🙃';}
ol::first-letter{color: red}
.Introduction::first-line{color:red}

html{font-size: 20px;margin: 2mm;}

header{_position: sticky;
       top:0px;
           }

:root{--html-color:rgb( 188, 184, 177);
      --header-color:rgb(252, 213, 206);
      --header-background-color:linear-gradient(rosybrown,mistyrose);
      --main-color: rgb(224, 175, 160);
      --body-color: rgb(224, 175, 160);
      --article-color: rgb(254, 200, 154);
      --h-color:linear-gradient(rgb(224, 175, 160) 0.1em,rgb(250, 197, 100) 1em,rgb(250, 116, 116) 0em);
      --info-color:rgb(187, 128, 110); 
      --footer-color:  linear-gradient(rgb(224, 175, 160),red);
      --border-color:black;

      --navlink-color:brown;
      --hover-color:azure;
      --hoverbackground-color:black;
      --activeLink-color:blueviolet}

@media screen and (prefers-color-scheme: dark){
                html {background-color: black}}

  

@media screen and ( min-width:250mm) {
        html  { background-color: var(--html-color);
                max-width: 600mm;}
        .hire { background-color: var(--info-color)} 
        .nav  { display: inline-flex;
                flex-direction:row;
                border: 5px solid var(--border-color)}
               }
              

@media screen and ( max-width:768px) {
        .hire{  background-color: var(--info-color);}

         html{ font-size: 10px;
               max-width: 200mm;} 

        nav{  display: inline-flex;
               flex-direction:column;
               border: 1px solid var(--border-color);}

        .experience-header{ display: flex;
                      flex-direction:column;
                      border: 1px solid var(--border-color);} 

         .adress{ display: flex;
                        flex-direction:column;
                        height: 50mm;
                        justify-content: center;
                        align-items: flex-start;}
                    }

@media print{
  .hire{display: none;}}


    div{padding:0.1%;
        margin-left: 1%;
        font-size: 1em;}


    p{  font-size: 80%;
        padding-left: 1%}
     
    li{ font-size: 80%;
        text-align: left;
        margin:2%;}

    h1,h2,h3,h4 { font-family: sans-serif;
                  font-size: 1.5em; 
                  padding-left: 1%;
                  }

                  h2{background-image: var(--h-color);}

     h3{ font-family: monospace;
                    font-size: 1.0em; 
                    padding-left: 3%;}


                  
    body{font-size: 1rem;
        font-family: monospace; 
        border-radius: 30px;}


     

      .header { padding: 40px;
                text-align: center ;
                background-color: var(--header-color); 
                background-image: var(--header-background-colorcolor);       
                border-radius: inherit;
              }
        
      .Introduction {  border-radius: inherit; }
              
      .main {   max-width: 1000px;
                margin: 0 auto;
                padding: 0%;
                background-color: var(--main-color);
                border: 5px solid var(--border-color);
                border-radius: inherit}

      .nav-link { padding: 10px;
                  color: var(--navlink-color);
                  transition: background-color 1s ease-in-out;
                 }

      .nav-link:focus{  background-color: var(--navlink-color);
                        outline-color: var(--main-colorr);
                        outline-style: dotted;}


      .nav-link:hover{  color:var(--hover-color);
                        background-color:var(--hoverbackground-color) ;
                      }

      .nav-link:active{ color:var(--activeLink-color)}


      .adress{  display: flex;
                height: 50mm;
                justify-content: center;
                align-items: flex-start;}
        
                  

      .experience-header{ display:flex;
                          margin: 1%;
                          justify-content:space-between;
                          align-items: baseline;
                                                    }

      .experience-heading{  }
                         

      .experience-subheading{  }

      .Impressum{text-align: left;padding: 1%;}

      .adress-data{display: inline-block;}

      .contact-data{display: inline-block; }

      .past{display: none;}

      article:nth-child(1){background-color:var(--article-color)}



      .Introduction{position:relative;left: 5%;
                    top: 3% ;
                    border:  1px solid black;
                    max-width: 80%;}

      .hire{position: fixed;
            right: 20px;
            top:20px;
            padding: 30px;
            border-radius: 5px;
            }


            .hire:hover{  background-color: lightcyan;
                          transition: 0.5s}

            .footer-cv{display: flex;
                      height: 50px;
                      justify-content: center;
                      align-items: center;
                      background-image: var(--footer-color);}


