h1::before { content: '👱‍♂️';}
h1::after { content: '🙃';}
ol::first-letter{color: red}
.Introduction::first-line{color:red}



body{font-size: 15px;
      font-family: monospace; 
      border-radius: 30px;}



      .header {
        padding: 40px;
        text-align: center ;
        background-color: gainsboro;
        max-width: 1000px;
        margin: 0 auto;
        border-radius: inherit;
        }

        .Introduction {background-color:rgb(241, 241, 227);padding: 10px; 
          border-radius: inherit;
        }

        .main {
          max-width: 1000px;
          margin: 0 auto;
          padding: 35px;
          background-color: gainsboro;
          border: 5px solid black;
          border-radius: inherit
          }


      .nav-link { padding: 10px;
            color: brown;}

      .nav-link:hover{ background-color:black;
                 color:azure}
      .nav-link:active{color:blueviolet}

          
 
h1,h2,h4 { font-family: sans-serif;
              font-size: 2rem; }

 h3{ font-size: 1rem;}

.experience-heading{display: inline-block;}
.experience-subheading{ display: inline-block;
                        border: 1px solid black;}

.adress-data{display: inline-block;
  border: 1px solid black;
  padding: 10px;}

.contact-data{display: inline-block;
              border: 1px solid black;
              padding: 10px;}


