html{ font-size: 20px;margin: 2mm;
    background-color:bisque;}


       div{height: 100px;
                max-width: 200px;
                margin: 10px;
                padding: 20px;}



     .row{ display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            border: 5px solid saddlebrown ;
            height: 300px;
            max-width: auto;
            font-size: 35px;
            align-content: flex-end;
            justify-content: end;
                        }
          
         


            .classRow{background-color: aqua;}
            .row :nth-child(1) {order: 6;}
            .row :nth-child(2) {order: 5;}
            .row :nth-child(3) {order: 3;}
            .row :nth-child(4) {order: 4;} 
            .row :nth-child(5) {order: 2;}
            .row :nth-child(6) {order: 1;}
                     





            .column{ display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    border: 5px solid saddlebrown ;
                    height: auto;
                    max-width: 800px;
                    font-size: 35px;
                        }
        
            .classRow{background-color: aqua;}
            .column :nth-child(1) {align-self:flex-start;}
             .column :nth-child(2) {align-self:center;}     
             .column :nth-child(3) {align-self:flex-end;}
             .column :nth-child(4) {align-self:stretch;} 

             .column :nth-child(5) {align-self:baseline;}
 